<% provide(:title, 'Welcome!') %>
<div class="center hero-unit index">
	<h2>Welcome to BryantDu's Demo page</h2>
	<h3>This page is for <%= link_to "Code Test", "https://github.com/stacksocial/code_tests/tree/master/fullstack" %></h3>
	<div class="center info">
		<p>To start with, please <%= link_to "LOGIN", signin_path %></p>
		Not a user yet? <%= link_to "SIGNUP", signup_path %>
	</div>
</div>
